<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOGS" value="./logs" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%white(%d) %highlight(%-5level) [%magenta(%t)] %cyan(%C{1.}): %msg%n%throwable
			</Pattern>
		</layout>
	</appender>

	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/application.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %-5level %C{1.} [%t] %msg%n</Pattern>
		</encoder>

		<!-- Archive a log after it reached 5MB -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/archived/application-log-%d{dd-MM-yyyy}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="Console" />
		<appender-ref ref="SAVE-TO-FILE" />
	</root>
	<logger name="pl.adamstrzelecki.database.exercise.csvdatabase"
		level="trace" additivity="false">
		<appender-ref ref="Console" />
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

</configuration>